@font-face {
  font-family: 'Goli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/otf/Goli-Bold.otf') format('otf');
}
@font-face {
  font-family: 'Goli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/otf/Goli-Light.otf') format('otf');
}
@font-face {
  font-family: 'Goli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/otf/Goli-Medium.otf') format('otf');
}
@font-face {
  font-family: 'Goli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/otf/Goli-Regular.otf') format('otf');
}
@font-face {
  font-family: 'Goli';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/otf/Goli-SemiBold.otf') format('otf');
}

// ttf
@font-face {
  font-family: 'Goli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/ttf/Goli-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'Goli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/ttf/Goli-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'Goli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/ttf/Goli-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'Goli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/ttf/Goli-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Goli';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/ttf/Goli-SemiBold.ttf') format('ttf');
}

///wof
@font-face {
  font-family: 'Goli';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fontie-package/Goli\ Bold.woff') format('wof');
}
@font-face {
  font-family: 'Goli';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fontie-package/Goli\ Light.woff') format('woff');
}
@font-face {
  font-family: 'Goli';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fontie-package/Goli\ Medium.woff') format('wof');
}
@font-face {
  font-family: 'Goli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fontie-package/Goli\ Regular.woff') format('wof');
}
@font-face {
  font-family: 'Goli';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fontie-package/Goli\ SemiBold.woff') format('wof');
}