// @import '~node_modules/modern-normalize/modern-normalize.css';

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  // max-width: 100%;
  // height: auto;
  height: 100%;
}

th {
  font-weight: 400;
}

address {
  margin-bottom: 0;
}


