@font-face {
  font-family: "Goli";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/otf/Goli-Bold.otf") format("otf");
}
@font-face {
  font-family: "Goli";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/otf/Goli-Light.otf") format("otf");
}
@font-face {
  font-family: "Goli";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/otf/Goli-Medium.otf") format("otf");
}
@font-face {
  font-family: "Goli";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/otf/Goli-Regular.otf") format("otf");
}
@font-face {
  font-family: "Goli";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/otf/Goli-SemiBold.otf") format("otf");
}
@font-face {
  font-family: "Goli";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ttf/Goli-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Goli";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/ttf/Goli-Light.ttf") format("ttf");
}
@font-face {
  font-family: "Goli";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/ttf/Goli-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Goli";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ttf/Goli-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Goli";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/ttf/Goli-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "Goli";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fontie-package/Goli-Bold.woff") format("woff");
}
@font-face {
  font-family: "Goli";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fontie-package/Goli-Light.woff") format("woff");
}
@font-face {
  font-family: "Goli";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fontie-package/Goli-Medium.woff") format("woff");
}
@font-face {
  font-family: "Goli";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fontie-package/Goli-Regular.woff") format("woff");
}
@font-face {
  font-family: "Goli";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fontie-package/Goli-SemiBold.woff") format("woff");
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

th {
  font-weight: 400;
}

address {
  margin-bottom: 0;
}

.about .content-box .section-info .contact-link .contact-link-arrow, .header .hero .hero-link .hero-link-arrow, .header .header-position .nav .header-link .header-link-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.oneday .service-box .service-content .estimate-link .estimate-link-arrow, .kitchen .service-box .service-content .estimate-link .estimate-link-arrow, .bathroom .service-box .service-content .estimate-link .estimate-link-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 54px;
  border-radius: 50%;
  outline: 1px solid #faa507;
}

.contacts .contact-box .contact-content .section-name, .feedbacks .section-content .section-name, .oneday .service-box .service-content .section-name, .kitchen .service-box .service-content .section-name, .bathroom .service-box .service-content .section-name, .about .content-box .section-content .section-name {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #212A35;
  line-height: 1.4;
}

.contacts .contact-box .contact-content .section-title, .faq .section-title, .areas-position .section-title, .feedbacks .section-content .section-title, .bathroom .service-box .service-content .section-title, .about .content-box .section-content .section-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2;
  color: #212A35;
}

.oneday .service-box .service-content .section-subtitle, .kitchen .service-box .service-content .section-subtitle, .bathroom .service-box .service-content .section-subtitle, .about .content-box .section-content .section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #212A35;
}

.contacts .contact-box .contact-content .section-text, .areas-position .section-text, .feedbacks .section-content .section-text, .oneday .service-box .service-content .section-text, .kitchen .service-box .service-content .section-text, .bathroom .service-box .service-content .section-text, .about .content-box .section-info .section-text {
  font-size: 16px;
  color: #212A35;
  line-height: 1.4;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1358px;
  }
}

body {
  font-family: "Goli", sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #212A35;
  background-color: #FFFEFA;
}

.header {
  width: 100vw;
  margin: 0 auto;
  height: 554px;
  padding-top: 24px;
  padding-bottom: 60px;
  background-image: url("../images/desktop/Hero_1x-min.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 480px) {
  .header {
    background-image: url(../images/mobile/Hero_mobile_1x-min.png);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 1920dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/mobile/Hero_mobile_2x-min.png);
  }
}
@media screen and (min-width: 768px) {
  .header {
    height: 635px;
    background-image: url(../images/tablet/Hero_tablet_1x-min.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 1920dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/tablet/Hero_tablet_2x-min.png);
  }
}
@media screen and (min-width: 1200px) {
  .header {
    height: 100vh;
    background-image: url(../images/desktop/Hero_1x-min.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 1920dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/desktop/Hero_2x-min.png);
  }
}
.header .header-position {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.header .header-position .logo-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin: 0 auto;
}
.header .header-position .logo-wrap .menu-open {
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header .header-position .logo-wrap .menu-open {
    display: none;
  }
}
.header .header-position .logo-wrap .hd-logo {
  width: 104px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #fffefa;
}
@media screen and (min-width: 768px) {
  .header .header-position .logo-wrap .hd-logo {
    width: 123px;
    font-size: 14px;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .header .header-position .logo-wrap .hd-logo {
    width: 380px;
    font-size: 22px;
  }
}
.header .header-position .nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header .header-position .nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
.header .header-position .nav .menu-item + .menu-item {
  margin-top: 8px;
}
.header .header-position .nav .menu-link {
  position: relative;
  font-size: 16px;
  color: #fffefa;
}
.header .header-position .nav .menu-link:hover::after {
  position: absolute;
  top: 100%;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fffefa;
}
.header .header-position .nav .menu-three-item:first-child {
  text-align: end;
  margin-bottom: 8px;
}
.header .header-position .nav .menu-three-item:first-child .phone-link {
  color: #fff;
  text-decoration: underline;
}
.header .header-position .nav .menu-three-item:first-child .phone-link .phone-icon {
  margin-right: 8px;
}
.header .header-position .nav .header-link {
  display: flex;
  height: 54px;
  border-radius: 30px;
}
.header .header-position .nav .header-link .header-link-text {
  background-color: #faa507;
  color: #fff;
  border: none;
}
.header .header-position .nav .header-link:hover .header-link-text {
  background-color: #faa507;
  color: #fff;
}
.header .header-position .nav .header-link:active .header-link-text {
  background-color: #e09100;
  color: #fff;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2509803922);
}
.header .header-position .nav .header-link .header-link-arrow {
  background-color: #faa507;
  border: none;
}
.header .header-position .nav .header-link .header-link-arrow .icon-arrow-white {
  stroke: #fff;
}
.header .header-position .nav .header-link:hover .header-link-arrow {
  background-color: #faa507;
}
.header .header-position .nav .header-link:hover .header-link-arrow .icon-arrow-white {
  stroke: #fff;
}
.header .header-position .nav .header-link:active .header-link-arrow {
  background-color: #e09100;
  border: 1px solid #212A35;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2509803922);
}
.header .header-position .nav .header-link .header-link-text {
  width: 156px;
  height: 54px;
  border-radius: 30px;
  padding: 16px 22px;
  color: #fffefa;
}
.header .header-position .nav .header-link .header-link-arrow {
  width: 56px;
  height: 54px;
  border-radius: 50%;
}
.header .header-position .nav .header-link .header-link-arrow .icon-arrow-white {
  stroke: #fffefa;
}
.header .hero {
  margin-top: 184px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .header .hero {
    margin-top: 285px;
  }
}
@media screen and (min-width: 1200px) {
  .header .hero {
    margin-top: 49vh;
    margin-bottom: 11vh;
  }
}
.header .hero .hero-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.1;
  color: #fffefa;
}
@media screen and (min-width: 768px) {
  .header .hero .hero-title {
    width: 755px;
    font-size: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .header .hero .hero-title {
    width: 1328px;
    font-size: 72px;
  }
}
.header .hero .hero-link {
  display: flex;
  height: 54px;
  border-radius: 30px;
  margin-top: 20px;
}
.header .hero .hero-link .hero-link-text {
  background-color: #faa507;
  color: #fff;
  border: none;
}
.header .hero .hero-link:hover .hero-link-text {
  background-color: #faa507;
  color: #fff;
}
.header .hero .hero-link:active .hero-link-text {
  background-color: #e09100;
  color: #fff;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2509803922);
}
.header .hero .hero-link .hero-link-arrow {
  background-color: #faa507;
  border: none;
}
.header .hero .hero-link .hero-link-arrow .icon-arrow-white {
  stroke: #fff;
}
.header .hero .hero-link:hover .hero-link-arrow {
  background-color: #faa507;
}
.header .hero .hero-link:hover .hero-link-arrow .icon-arrow-white {
  stroke: #fff;
}
.header .hero .hero-link:active .hero-link-arrow {
  background-color: #e09100;
  border: 1px solid #212A35;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2509803922);
}
.header .hero .hero-link .hero-link-text {
  width: 156px;
  height: 54px;
  border-radius: 30px;
  padding: 16px 22px;
  color: #fffefa;
}
.header .hero .hero-link .hero-link-arrow {
  width: 56px;
  height: 54px;
  border-radius: 50%;
}
.header .hero .hero-link .hero-link-arrow .icon-arrow-white {
  stroke: #fffefa;
}
@media screen and (min-width: 768px) {
  .header .hero .hero-link {
    display: none;
  }
}
.header .fixed-btn {
  position: fixed;
  bottom: 60px;
  right: 25px;
  z-index: 10;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #faa507;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 16px 0 rgba(250, 165, 7, 0.15);
  background: rgba(250, 165, 7, 0.7);
  border: 1px solid rgba(250, 165, 7, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}
.header .fixed-btn.visible {
  opacity: 1;
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .header .fixed-btn {
    display: none;
  }
}

.mob-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 459px;
  background-color: #212A35;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
.mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.mob-menu .no-scroll {
  overflow: hidden;
}
.mob-menu .mob-menu-container {
  height: 100%;
  padding: 24px 16px;
}
.mob-menu .mob-menu-container .mob-menu-header {
  display: flex;
  justify-content: space-between;
}
.mob-menu .mob-menu-container .mob-menu-header .mob-menu-logo {
  width: 104px;
  height: 30px;
  color: rgb(255, 254, 250);
  text-transform: uppercase;
}
.mob-menu .mob-menu-container .mob-menu-header .btn-close {
  border: none;
}
.mob-menu .mob-menu-container .mob-menu-list {
  margin-top: 64px;
}
.mob-menu .mob-menu-container .mob-menu-list .mob-menu-item {
  padding: 8px 0;
}
.mob-menu .mob-menu-container .mob-menu-list .mob-menu-item .mob-menu-link {
  display: block;
  font-size: 20px;
  line-height: 1.4;
  text-align: left;
  color: #fffefa;
}
.mob-menu .mob-menu-container .mob-menu-list .mob-menu-item:not(:last-child) {
  border-bottom: 1px solid #ffffff;
}

.about {
  padding-top: 73px;
  padding-bottom: 64px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
.about .content-box {
  margin-bottom: 36px;
}
@media screen and (min-width: 768px) {
  .about .content-box {
    display: flex;
    -moz-column-gap: 20px;
         column-gap: 20px;
    margin-bottom: 42px;
  }
}
@media screen and (min-width: 1200px) {
  .about .content-box {
    -moz-column-gap: 43px;
         column-gap: 43px;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .about .content-box .section-content {
    width: 367px;
  }
}
@media screen and (min-width: 1200px) {
  .about .content-box .section-content {
    width: 730px;
  }
}
.about .content-box .section-content .section-name {
  margin-bottom: 24px;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .about .content-box .section-content .section-name {
    margin-bottom: 32px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .about .content-box .section-content .section-name {
    margin-bottom: 20px;
  }
}
.about .content-box .section-content .section-subtitle {
  margin-bottom: 16px;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .about .content-box .section-content .section-subtitle {
    margin-bottom: 32px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .about .content-box .section-content .section-subtitle {
    margin-bottom: 24px;
  }
}
.about .content-box .section-content .section-title {
  margin-bottom: 24px;
  font-size: 28px;
}
@media screen and (min-width: 768px) {
  .about .content-box .section-content .section-title {
    margin-bottom: 0;
    font-size: 42px;
    line-height: 1.1;
  }
}
@media screen and (min-width: 1200px) {
  .about .content-box .section-content .section-title {
    font-size: 42px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 768px) {
  .about .content-box .section-info {
    width: 367px;
    padding-top: 54px;
  }
}
@media screen and (min-width: 1200px) {
  .about .content-box .section-info {
    width: 431px;
    padding-top: 42px;
  }
}
.about .content-box .section-info .contact-link {
  margin-top: 16px;
  display: flex;
}
@media screen and (min-width: 768px) {
  .about .content-box .section-info .contact-link {
    margin-top: 17px;
  }
}
@media screen and (min-width: 1200px) {
  .about .content-box .section-info .contact-link {
    margin-top: 32px;
  }
}
.about .content-box .section-info .contact-link:hover .contact-link-estimate {
  background-color: #faa507;
  outline: 1px solid #faa507;
  color: #fffefa;
  box-shadow: 0 4px 16px rgba(250, 165, 7, 0.2431372549);
}
.about .content-box .section-info .contact-link:active .contact-link-estimate {
  background-color: #e09100;
  outline: 1px solid #e09100;
  color: #fffefa;
}
.about .content-box .section-info .contact-link:hover .contact-link-arrow {
  background-color: #faa507;
  outline: 1px solid #faa507;
  box-shadow: 0 4px 16px rgba(250, 165, 7, 0.2431372549);
}
.about .content-box .section-info .contact-link:active .contact-link-arrow {
  background-color: #e09100;
  outline: 1px solid #e09100;
}
.about .content-box .section-info .contact-link .contact-link-estimate {
  display: block;
  width: 136px;
  height: 54px;
  border-radius: 30px;
  outline: 1px solid #faa507;
  background-color: #faa507;
  padding: 16px 24px;
  color: #fffefa;
  font-size: 16px;
  line-height: 1.4;
}
.about .content-box .section-info .contact-link .contact-link-arrow {
  width: 56px;
  height: 54px;
  border-radius: 50%;
  background-color: #faa507;
}
.about .content-box .section-info .contact-link .contact-link-arrow .icon-arrow-white {
  stroke: #fffefa;
}
.about .adv-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
@media screen and (min-width: 768px) {
  .about .adv-list {
    flex-direction: row;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .about .adv-list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.about .adv-list .adv-item {
  padding: 24px;
  background: #f4ebdf;
}
@media screen and (min-width: 768px) {
  .about .adv-list .adv-item {
    flex-basis: calc((100% - 32px) / 3);
    padding: 40px 24px 22px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .about .adv-list .adv-item {
    flex-basis: calc((100% - 40px) / 3);
    padding: 40px 24px 40px 24px;
  }
}
.about .adv-list .adv-item .adv-icon {
  margin-bottom: 24px;
}
.about .adv-list .adv-item .adv-name {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.15;
  color: #212A35;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .about .adv-list .adv-item .adv-name {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .about .adv-list .adv-item .adv-name {
    font-size: 20px;
  }
}
.about .adv-list .adv-item .adv-text {
  font-size: 16px;
  line-height: 1.15;
  color: #212A35;
}

.bathroom {
  padding-bottom: 56px;
}
@media screen and (min-width: 1200px) {
  .bathroom {
    padding-bottom: 64px;
  }
}
.bathroom .service-box {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .bathroom .service-box {
    display: flex;
    align-items: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .bathroom .service-box {
    justify-content: space-between;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media screen and (min-width: 768px) {
  .bathroom .service-box .service-content {
    width: 367px;
  }
}
@media screen and (min-width: 1200px) {
  .bathroom .service-box .service-content {
    width: 800px;
  }
}
.bathroom .service-box .service-content .section-name {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .bathroom .service-box .service-content .section-name {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
.bathroom .service-box .service-content .section-title {
  width: 305px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .bathroom .service-box .service-content .section-title {
    width: 244px;
  }
}
@media screen and (min-width: 1200px) {
  .bathroom .service-box .service-content .section-title {
    width: 843px;
    margin-bottom: 40px;
    font-size: 42px;
    line-height: 1.2;
  }
}
.bathroom .service-box .service-content .section-subtitle {
  width: 305px;
  margin-bottom: 16px;
  font-size: 24px;
  color: #faa507;
}
@media screen and (min-width: 768px) {
  .bathroom .service-box .service-content .section-subtitle {
    width: 244px;
  }
}
@media screen and (min-width: 1200px) {
  .bathroom .service-box .service-content .section-subtitle {
    width: 843px;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 1.2;
  }
}
.bathroom .service-box .service-content .section-text {
  margin-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .bathroom .service-box .service-content .section-text {
    margin-bottom: 25px;
  }
}
.bathroom .service-box .service-content .estimate-link {
  display: flex;
}
.bathroom .service-box .service-content .estimate-link:hover .estimate-link-est {
  background-color: #faa507;
  outline: 1px solid #faa507;
  color: #fffefa;
  box-shadow: 0 4px 16px rgba(250, 165, 7, 0.2431372549);
}
.bathroom .service-box .service-content .estimate-link:active .estimate-link-est {
  background-color: #e09100;
  outline: 1px solid #e09100;
  color: #fffefa;
}
.bathroom .service-box .service-content .estimate-link:hover .estimate-link-arrow {
  background-color: #faa507;
  outline: 1px solid #faa507;
  box-shadow: 0 4px 16px rgba(250, 165, 7, 0.2431372549);
}
.bathroom .service-box .service-content .estimate-link:hover .estimate-link-arrow .icon-arrow-black {
  stroke: #fffefa;
}
.bathroom .service-box .service-content .estimate-link:active .estimate-link-arrow {
  background-color: #e09100;
  outline: 1px solid #e09100;
}
.bathroom .service-box .service-content .estimate-link .estimate-link-est {
  display: block;
  width: 156px;
  height: 54px;
  border-radius: 30px;
  outline: 1px solid #faa507;
  background-color: #faa507;
  padding: 16px 24px;
  color: #fffefa;
  font-size: 16px;
  line-height: 1.4;
}
.bathroom .service-box .service-content .estimate-link .estimate-link-arrow {
  margin-left: 2px;
  background-color: #faa507;
}
.bathroom .service-box .service-content .estimate-link .estimate-link-arrow .icon-arrow-black {
  stroke: #fffefa;
}
.bathroom .service-box .section-img-box {
  display: none;
}
@media screen and (min-width: 768px) {
  .bathroom .service-box .section-img-box {
    display: block;
    width: 367px;
    height: 420px;
    background: #d9d9d9;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .bathroom .service-box .section-img-box {
    width: 429px;
    height: 586px;
  }
}
.bathroom .examples {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
@media screen and (min-width: 768px) {
  .bathroom .examples {
    flex-direction: row;
    align-items: center;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .bathroom .examples {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .bathroom .examples .example {
    height: 235px;
  }
}
@media screen and (min-width: 1200px) {
  .bathroom .examples .example {
    flex-basis: calc((100% - 40px) / 3);
    height: 376px;
  }
}
.bathroom .examples .example .example-wrap .example-title {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.3;
  color: #7c7c7c;
}

.kitchen {
  padding-bottom: 56px;
}
@media screen and (min-width: 1200px) {
  .kitchen {
    padding-bottom: 64px;
  }
}
.kitchen .service-box {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .kitchen .service-box {
    display: flex;
    align-items: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .kitchen .service-box {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
.kitchen .service-box .section-img-box {
  display: none;
}
@media screen and (min-width: 768px) {
  .kitchen .service-box .section-img-box {
    display: block;
    width: 367px;
    height: 420px;
    background: #d9d9d9;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .kitchen .service-box .section-img-box {
    width: 429px;
    height: 429px;
  }
}
@media screen and (min-width: 768px) {
  .kitchen .service-box .service-content {
    width: 367px;
  }
}
@media screen and (min-width: 1200px) {
  .kitchen .service-box .service-content {
    width: 843px;
  }
}
.kitchen .service-box .service-content .section-name {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .kitchen .service-box .service-content .section-name {
    font-size: 16px;
    margin-bottom: 32px;
  }
}
.kitchen .service-box .service-content .section-subtitle {
  width: 305px;
  margin-bottom: 16px;
  font-size: 24px;
  color: #faa507;
}
@media screen and (min-width: 768px) {
  .kitchen .service-box .service-content .section-subtitle {
    width: 244px;
  }
}
@media screen and (min-width: 1200px) {
  .kitchen .service-box .service-content .section-subtitle {
    width: 843px;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 1.2;
  }
}
.kitchen .service-box .service-content .section-text {
  margin-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .kitchen .service-box .service-content .section-text {
    margin-bottom: 24px;
  }
}
.kitchen .service-box .service-content .estimate-link {
  display: flex;
}
.kitchen .service-box .service-content .estimate-link:hover .estimate-link-est {
  background-color: #faa507;
  outline: 1px solid #faa507;
  color: #fffefa;
  box-shadow: 0 4px 16px rgba(250, 165, 7, 0.2431372549);
}
.kitchen .service-box .service-content .estimate-link:active .estimate-link-est {
  background-color: #e09100;
  outline: 1px solid #e09100;
  color: #fffefa;
}
.kitchen .service-box .service-content .estimate-link:hover .estimate-link-arrow {
  background-color: #faa507;
  outline: 1px solid #faa507;
  box-shadow: 0 4px 16px rgba(250, 165, 7, 0.2431372549);
}
.kitchen .service-box .service-content .estimate-link:hover .estimate-link-arrow .icon-arrow-black {
  stroke: #fffefa;
}
.kitchen .service-box .service-content .estimate-link:active .estimate-link-arrow {
  background-color: #e09100;
  outline: 1px solid #e09100;
}
.kitchen .service-box .service-content .estimate-link .estimate-link-est {
  display: block;
  width: 156px;
  height: 54px;
  border-radius: 30px;
  outline: 1px solid #faa507;
  background-color: #faa507;
  padding: 16px 24px;
  color: #fffefa;
  font-size: 16px;
  line-height: 1.4;
}
.kitchen .service-box .service-content .estimate-link .estimate-link-arrow {
  margin-left: 2px;
  background-color: #faa507;
}
.kitchen .service-box .service-content .estimate-link .estimate-link-arrow .icon-arrow-black {
  stroke: #fffefa;
}
.kitchen .examples {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
@media screen and (min-width: 768px) {
  .kitchen .examples {
    flex-direction: row;
    align-items: center;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .kitchen .examples {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .kitchen .examples .example {
    height: 235px;
  }
}
@media screen and (min-width: 1200px) {
  .kitchen .examples .example {
    flex-basis: calc((100% - 40px) / 3);
    height: 376px;
  }
}
.kitchen .examples .example .example-wrap .example-title {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.3;
  color: #7c7c7c;
}

.oneday {
  padding-bottom: 56px;
}
@media screen and (min-width: 1200px) {
  .oneday {
    padding-bottom: 64px;
  }
}
.oneday .service-box {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .oneday .service-box {
    display: flex;
    align-items: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .oneday .service-box {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media screen and (min-width: 768px) {
  .oneday .service-box .service-content {
    width: 367px;
  }
}
@media screen and (min-width: 1200px) {
  .oneday .service-box .service-content {
    width: 800px;
  }
}
.oneday .service-box .service-content .section-name {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .oneday .service-box .service-content .section-name {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
.oneday .service-box .service-content .section-subtitle {
  width: 305px;
  margin-bottom: 16px;
  font-size: 24px;
  color: #faa507;
}
@media screen and (min-width: 768px) {
  .oneday .service-box .service-content .section-subtitle {
    width: 244px;
  }
}
@media screen and (min-width: 1200px) {
  .oneday .service-box .service-content .section-subtitle {
    width: 843px;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 1.2;
  }
}
.oneday .service-box .service-content .section-text {
  margin-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .oneday .service-box .service-content .section-text {
    margin-bottom: 42px;
  }
}
.oneday .service-box .service-content .estimate-link {
  display: flex;
}
.oneday .service-box .service-content .estimate-link:hover .estimate-link-est {
  background-color: #faa507;
  outline: 1px solid #faa507;
  color: #fffefa;
  box-shadow: 0 4px 16px rgba(250, 165, 7, 0.2431372549);
}
.oneday .service-box .service-content .estimate-link:active .estimate-link-est {
  background-color: #e09100;
  outline: 1px solid #e09100;
  color: #fffefa;
}
.oneday .service-box .service-content .estimate-link:hover .estimate-link-arrow {
  background-color: #faa507;
  outline: 1px solid #faa507;
  box-shadow: 0 4px 16px rgba(250, 165, 7, 0.2431372549);
}
.oneday .service-box .service-content .estimate-link:hover .estimate-link-arrow .icon-arrow-black {
  stroke: #fffefa;
}
.oneday .service-box .service-content .estimate-link:active .estimate-link-arrow {
  background-color: #e09100;
  outline: 1px solid #e09100;
}
.oneday .service-box .service-content .estimate-link .estimate-link-est {
  display: block;
  width: 156px;
  height: 54px;
  border-radius: 30px;
  outline: 1px solid #faa507;
  background-color: #faa507;
  padding: 16px 24px;
  color: #fffefa;
  font-size: 16px;
  line-height: 1.4;
}
.oneday .service-box .service-content .estimate-link .estimate-link-arrow {
  margin-left: 2px;
  background-color: #faa507;
}
.oneday .service-box .service-content .estimate-link .estimate-link-arrow .icon-arrow-black {
  stroke: #fffefa;
}
.oneday .service-box .section-img-box {
  display: none;
}
@media screen and (min-width: 768px) {
  .oneday .service-box .section-img-box {
    display: block;
    width: 367px;
    height: 420px;
    background: #d9d9d9;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .oneday .service-box .section-img-box {
    width: 765px;
    height: 483px;
  }
}
.oneday .examples {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
@media screen and (min-width: 768px) {
  .oneday .examples {
    flex-direction: row;
    align-items: center;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .oneday .examples {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .oneday .examples .example {
    height: 235px;
  }
}
@media screen and (min-width: 1200px) {
  .oneday .examples .example {
    flex-basis: calc((100% - 40px) / 3);
    height: 376px;
  }
}
.oneday .examples .example .example-wrap .example-title {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.3;
  color: #7c7c7c;
}

.feedbacks {
  margin-bottom: 57px;
}
.feedbacks .section-position {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
@media screen and (min-width: 768px) {
  .feedbacks .section-position {
    flex-direction: row;
    align-items: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .feedbacks .section-content {
    width: 367px;
  }
}
@media screen and (min-width: 1200px) {
  .feedbacks .section-content {
    width: 429px;
  }
}
.feedbacks .section-content .section-name {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .feedbacks .section-content .section-name {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
.feedbacks .section-content .section-title {
  width: 305px;
  margin-bottom: 16px;
  font-size: 28px;
}
@media screen and (min-width: 768px) {
  .feedbacks .section-content .section-title {
    width: 244px;
  }
}
@media screen and (min-width: 1200px) {
  .feedbacks .section-content .section-title {
    width: 412px;
    margin-bottom: 20px;
    font-size: 42px;
    line-height: 1.2;
  }
}
.feedbacks .section-content .section-text {
  margin-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .feedbacks .section-content .section-text {
    margin-bottom: 24px;
  }
}
.feedbacks .carousel.desktop {
  display: none;
}
@media screen and (min-width: 1200px) {
  .feedbacks .carousel.desktop {
    display: block;
    width: 879px;
  }
}
.feedbacks .carousel {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .feedbacks .carousel {
    width: 367px;
  }
}
@media screen and (min-width: 1200px) {
  .feedbacks .carousel {
    display: none;
  }
}
.feedbacks .carousel-item .reviews {
  display: flex;
}
@media screen and (min-width: 768px) {
  .feedbacks .carousel-item .reviews {
    flex-direction: row;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.feedbacks .carousel-item .reviews .review {
  position: relative;
  height: 316px;
  padding: 20px 24px;
  background: #f4ebdf;
}
@media screen and (min-width: 1200px) {
  .feedbacks .carousel-item .reviews .review {
    flex-basis: calc((100% - 20px) / 2);
  }
}
.feedbacks .carousel-item .reviews .review .review-icon {
  margin-bottom: 16px;
  fill: rgba(33, 42, 53, 0.405);
}
.feedbacks .carousel-item .reviews .review .review-text {
  margin-bottom: 15px;
  font-size: 16px;
  color: #171717;
  line-height: 1.4;
}
@media screen and (min-width: 1200px) {
  .feedbacks .carousel-item:not(:first-child) {
    margin-left: 20px;
  }
}
.feedbacks .carousel-inner {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.areas {
  padding-bottom: 96px;
  padding-top: 96px;
  background-color: #f4ebdf;
}
@media screen and (min-width: 768px) {
  .areas-position {
    display: flex;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.areas-position .section-title {
  width: 305px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .areas-position .section-title {
    width: 244px;
  }
}
@media screen and (min-width: 1200px) {
  .areas-position .section-title {
    width: 429px;
    margin-bottom: 20px;
    font-size: 42px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1200px) {
  .areas-position .section-text {
    width: 878px;
    padding-top: 23px;
    padding-bottom: 23px;
  }
}

.faq {
  padding-bottom: 96px;
  padding-top: 96px;
}
.faq .section-title {
  width: 305px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .faq .section-title {
    width: 244px;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .faq .section-title {
    width: 100%;
    font-size: 42px;
    line-height: 1.2;
  }
}
.faq .accordion-item + .accordion-item {
  margin-top: 16px;
}
.faq .accordion-button {
  background-color: #f4ebdf;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  padding: 20px 72px 20px 20px;
}
.faq .accordion-body {
  background-color: #f4ebdf;
}

.contacts {
  padding-bottom: 66px;
}
@media screen and (min-width: 1200px) {
  .contacts {
    padding-bottom: 96px;
  }
}
@media screen and (min-width: 768px) {
  .contacts .contact-box {
    display: flex;
    -moz-column-gap: 20px;
         column-gap: 20px;
    height: 642px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts .contact-box {
    height: 678px;
  }
}
.contacts .contact-box .contact-img {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts .contact-box .contact-img {
    display: block;
    width: 367px;
    height: 642px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts .contact-box .contact-img {
    width: 565px;
    height: 678px;
  }
}
@media screen and (min-width: 768px) {
  .contacts .contact-box .contact-content {
    width: 367px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts .contact-box .contact-content {
    width: 747px;
  }
}
.contacts .contact-box .contact-content .section-name {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .contacts .contact-box .contact-content .section-name {
    font-size: 16px;
    margin-bottom: 25px;
  }
}
.contacts .contact-box .contact-content .section-title {
  width: 305px;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .contacts .contact-box .contact-content .section-title {
    width: 247px;
    font-size: 38px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts .contact-box .contact-content .section-title {
    width: 100%;
    font-size: 64px;
    line-height: 1.1;
  }
}
@media screen and (min-width: 768px) {
  .contacts .contact-box .contact-content .section-text {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contacts .contact-box .contact-content .section-text {
    display: block;
    margin-bottom: 0;
    width: 486px;
  }
}
.contacts .contact-box .contact-content .form {
  display: flex;
  flex-direction: column;
}
.contacts .contact-box .contact-content .form .input-wrap {
  position: relative;
}
.contacts .contact-box .contact-content .form .input-wrap:nth-child(4) {
  margin-bottom: 15px;
}
.contacts .contact-box .contact-content .form .input-wrap .form-input {
  height: 53px;
  padding: 16px;
  border: 1px solid #212A35;
  border-radius: 30px;
  width: 100%;
}
.contacts .contact-box .contact-content .form .input-wrap .error-message {
  position: absolute;
  bottom: -20px;
  left: 15px;
  color: red;
  font-size: 12px;
  display: block;
}
.contacts .contact-box .contact-content .form .input-wrap .form-area {
  height: 99px;
  width: 100%;
  padding: 16px;
  border: 1px solid #212A35;
  border-radius: 30px;
  resize: none;
}
.contacts .contact-box .contact-content .form .input-wrap .form-area:placeholder {
  font-size: 16px;
  line-height: 1.3;
  color: #818284;
}
.contacts .contact-box .contact-content .form .policy-wrap {
  display: flex;
  align-items: start;
  margin-bottom: 16px;
}
.contacts .contact-box .contact-content .form .policy-wrap .checkbox-label {
  font-size: 14px;
  width: 100%;
  line-height: 1.5;
}
.contacts .contact-box .contact-content .form .policy-wrap .checkbox-label .policy-link {
  color: inherit;
  text-decoration: underline;
}
.contacts .contact-box .contact-content .form .form-button {
  border-radius: 30px;
  padding: 16px 24px;
  height: 54px;
  background: #faa507;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
}
.contacts .contact-box .contact-content .form .form-button:hover {
  background-color: #faa507;
  outline: 1px solid #faa507;
  color: #fffefa;
  box-shadow: 0 4px 16px rgba(250, 165, 7, 0.2431372549);
}
.contacts .contact-box .contact-content .form .form-button:active {
  background-color: #e09100;
  outline: 1px solid #e09100;
  color: #fffefa;
}
.contacts .contact-box .contact-content .form .form-button:disabled {
  background-color: rgba(250, 165, 7, 0.2431372549);
  border: none;
}

.footer {
  padding: 36px 0;
  background-color: #f4ebdf;
  background-color: #212A35;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 40px 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 56px 0;
  }
}
.footer .footer-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 32px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .footer .footer-info {
    row-gap: 36px;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-info {
    flex-wrap: nowrap;
    margin-bottom: 64px;
    -moz-column-gap: 102px;
         column-gap: 102px;
  }
}
.footer .footer-info .logo {
  width: 50%;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  color: #fffefa;
}
@media screen and (min-width: 1200px) {
  .footer .footer-info .logo {
    width: 313px;
  }
}
.footer .footer-info .footer-menu-wrap {
  display: none;
  order: 2;
}
@media screen and (min-width: 768px) {
  .footer .footer-info .footer-menu-wrap {
    display: block;
    order: 1;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-info .footer-menu-wrap {
    order: 0;
  }
}
.footer .footer-info .footer-contacts-wrap {
  order: 1;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer .footer-info .footer-contacts-wrap {
    order: 2;
    width: 158px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-info .footer-contacts-wrap {
    order: 0;
    width: 283px;
  }
}
.footer .footer-info .footer-socials-wrap {
  order: 3;
}
@media screen and (min-width: 768px) {
  .footer .footer-info .footer-socials-wrap {
    order: 3;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-info .footer-socials-wrap {
    order: 0;
  }
}
.footer .footer-info .footer-scroll-wrap {
  width: 50%;
}
@media screen and (min-width: 768px) {
  .footer .footer-info .footer-scroll-wrap {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-info .footer-scroll-wrap {
    order: 0;
    width: 100px;
  }
}
.footer .footer-info .footer-scroll-wrap .footer-scroll-link {
  display: flex;
  flex-direction: column;
  align-items: end;
  color: #fffefa;
}
.footer .footer-info .footer-scroll-wrap .footer-scroll-link .footer-scroll-icon {
  stroke: #fffefa;
}
.footer .footer-info .footer-socials-title,
.footer .footer-info .footer-menu-title,
.footer .footer-info .footer-contacts-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 14px;
  color: #fffefa;
}
.footer .footer-info .footer-social-list {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.footer .footer-info .footer-menu-list,
.footer .footer-info .footer-address-list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.footer .footer-info .footer-social-link,
.footer .footer-info .footer-menu-link,
.footer .footer-info .footer-address-link {
  color: #fffefa;
}
.footer .footer-info .footer-social-item,
.footer .footer-info .footer-address-item,
.footer .footer-info .footer-menu-item {
  position: relative;
}
.footer .footer-info .footer-address-item:hover::after,
.footer .footer-info .footer-menu-item:hover::after {
  position: absolute;
  top: 100%;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #faa507;
}
.footer .footer-info .footer-address-link {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  align-items: center;
}
.footer .footer-info .footer-social-link .black-arrow-icon {
  stroke: #fffefa;
  width: 12px;
  height: 12px;
}
@media screen and (min-width: 768px) {
  .footer .footer-info .footer-social-link .black-arrow-icon {
    width: 12px;
    height: 12px;
  }
}
.footer .privacy-list {
  display: flex;
  justify-content: space-between;
}
.footer .privacy-list .privacy-link {
  color: #fffefa;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  font-weight: 500;
  font-size: 16px;
}

.container.policy {
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-title {
  margin-bottom: 10px;
  border-bottom: 3px solid;
}

.sec-title,
.sec-subtitle,
.sec-sub_title {
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

.p-email {
  font-weight: 700;
  color: #212A35;
}

.p-title {
  margin-bottom: 10px;
  border-bottom: 3px solid;
}

.sec-title,
.sec-subtitle,
.sec-sub_title {
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

.p-email {
  font-weight: 700;
  color: #212A35;
}/*# sourceMappingURL=main.css.map */