
  // $font-family: "Poppins", sans-serif;
  $font-family: "Goli", sans;
  $primaryTextColor: #212A35;
  $buttonBgColor: #faa507;
  $activeButtonBgColor: #e09100;
  $buttonTextColor: #fff;
  $lightTextColor: #fffefa;

