.p-title {
  margin-bottom: 10px;
  border-bottom: 3px solid;
}

.sec-title,
.sec-subtitle,
.sec-sub_title {
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

.p-email {
  font-weight: 700;
  color: $primaryTextColor;
}
