.about {
  padding-top: 73px;
  padding-bottom: 64px;

  @media screen and (min-width: 768px) {
    padding-top: 23px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .content-box {
    margin-bottom: 36px;

    @media screen and (min-width: 768px) {
      margin-bottom: 64px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      // column-gap: 56px;
      column-gap: 189px;
      // margin-bottom: 64px;
    }

    .section-content {
      @media screen and (min-width: 768px) {
      }
      @media screen and (min-width: 1200px) {
        width: 730px;
      }

      .section-name {
        @extend %sectionName;
        margin-bottom: 24px;
        font-size: 14px;

        @media screen and (min-width: 768px) {
          margin-bottom: 16px;
          font-size: 16px;
        }
        @media screen and (min-width: 1200px) {
          margin-bottom: 20px;
        }
      }

      .section-subtitle {
        @extend %sectionSubTitle;
        margin-bottom: 16px;
        font-size: 16px;

        @media screen and (min-width: 768px) {
          margin-bottom: 32px;
          font-size: 20px;
        }
        @media screen and (min-width: 1200px) {
          margin-bottom: 24px;
        }
      }

      .section-title {
        @extend %sectionTitle;
        margin-bottom: 24px;
        font-size: 28px;

        @media screen and (min-width: 768px) {
          margin-bottom: 20px;
          font-size: 36px;
          line-height: 1.2;
        }
        @media screen and (min-width: 1200px) {
          font-size: 42px;
          line-height: 1.2;
        }
      }
    }
    .section-info {
      // @media screen and (min-width: 768px) {

      // }
      @media screen and (min-width: 1200px) {
        width: 431px;
        padding-top: 42px;
      }

      .section-text {
        @extend %sectionText;
      }

      .contact-link {
        margin-top: 16px;
        display: flex;

        @media screen and (min-width: 768px) {
          margin-top: 24px;
        }
        @media screen and (min-width: 1200px) {
          margin-top: 32px;
        }

        &:hover .contact-link-estimate {
          background-color: $buttonBgColor;
          outline: 1px solid $buttonBgColor;
          color: #fffefa;
          box-shadow: 0 4px 16px #faa5073e;
        }
        &:active .contact-link-estimate {
          background-color: $activeButtonBgColor;
          outline: 1px solid $activeButtonBgColor;
          color: #fffefa;
        }

        &:hover .contact-link-arrow {
          background-color: $buttonBgColor;
          // outline: 1px solid $buttonBgColor;
          box-shadow: 0 4px 16px #faa5073e;
        }
        &:active .contact-link-arrow {
          background-color: $activeButtonBgColor;
          outline: 1px solid $activeButtonBgColor;
        }
        .contact-link-estimate {
          @include button(
            $width: 136px,
            $background-color: $buttonBgColor,
            $color: #fffefa
          );
        }
        .contact-link-arrow {
          @extend %centeredFlex;
          width: 56px;
          height: 54px;
          border-radius: 50%;
          border: 1.5px solid $buttonBgColor;
          background-color: $buttonBgColor;

          .icon-arrow-white {
            stroke: #fffefa;
          }
        }
      }
    }
  }

  .adv-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    @media screen and (min-width: 768px) {
      flex-direction: row;

      column-gap: 16px;
    }
    @media screen and (min-width: 1200px) {
      column-gap: 20px;
    }

    .adv-item {
      padding: 24px;
      background: #f4ebdf;
      @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 32px) / 3);
        padding: 24px;
      }
      @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 40px) / 3);
        padding: 40px 24px 40px 24px;
      }

      .adv-icon {
        width: 36px;
        height: 36px;
        margin-bottom: 24px;
        @media screen and (min-width: 768px) {
          width: 40px;
          height: 40px;
        }
        @media screen and (min-width: 1200px) {
          width: 63px;
          height: 63px;
        }
      }
      .adv-name {
        margin-bottom: 24px;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.15;
        color: $primaryTextColor;
        text-transform: uppercase;
        @media screen and (min-width: 768px) {
          font-size: 16px;
        }
        @media screen and (min-width: 1200px) {
          font-size: 20px;
        }
      }

      .adv-text {
        font-size: 16px;
        line-height: 1.15;
        color: $primaryTextColor;
      }
    }
  }
}
