.areas {
  padding-bottom: 64px;

  .section-title {
    width: 305px;
    margin-bottom: 16px;
    @extend %sectionTitle;
    @media screen and (min-width: 768px) {
      width: 244px;
    }
    @media screen and (min-width: 1200px) {
      width: 100%;
      font-size: 64px;
      line-height: 1.2;
    }
  }
}
