.areas {
  padding-bottom: 96px;
  padding-top: 96px;
  background-color: #f4ebdf;
  @media screen and (min-width: 768px) {
    padding-bottom: 64px;
    padding-top: 52px;
  }

  &-position {
    @media screen and (min-width: 1200px) {
      display: flex;
      column-gap: 20px;
    }

    // .section-title {
    //   width: 305px;
    //   margin-bottom: 16px;
    //   @extend %sectionTitle;
    //   @media screen and (min-width: 768px) {
    //     width: 244px;
    //   }
    //   @media screen and (min-width: 1200px) {
    //     width: 100%;
    //     font-size: 64px;
    //     line-height: 1.2;
    //   }
    // }

    .section-title {
      width: 305px;
      margin-bottom: 32px;
      @extend %sectionTitle;
      @media screen and (min-width: 768px) {
        width: 100%;
        font-size: 36px;
      }
      @media screen and (min-width: 1200px) {
        width: 429px;
        margin-bottom: 20px;
        font-size: 42px;
        line-height: 1.2;
      }
    }
    .section-text {
      @extend %sectionText;
      // margin-bottom: 16px;
      @media screen and (min-width: 1200px) {
        width: 878px;
        padding-top: 23px;
        padding-bottom: 23px;
      }
    }
  }
}
