.bathroom {
  padding-bottom: 56px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 64px;
  }
  .service-box {
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
      column-gap: 56px;
      justify-content: space-between;
    }

    .service-content {
      @media screen and (min-width: 768px) {
        // width: 367px;
      }
      @media screen and (min-width: 1200px) {
        width: 800px;
      }
      .section-name {
        @extend %sectionName;
        margin-bottom: 24px;
        @media screen and (min-width: 768px) {
          font-size: 16px;
          margin-bottom: 20px;
        }
      }
      .section-title {
        width: 305px;
        margin-bottom: 32px;

        @extend %sectionTitle;
        @media screen and (min-width: 768px) {
          width: 100%;
          font-size: 36px;
        }
        @media screen and (min-width: 1200px) {
          width: 843px;
          margin-bottom: 40px;
          font-size: 42px;
          line-height: 1.2;
        }
      }

      .section-subtitle {
        width: 305px;
        margin-bottom: 16px;
        @extend %sectionSubTitle;
        font-size: 24px;
        color: $buttonBgColor;
        @media screen and (min-width: 768px) {
          width: 100%;
          font-size: 32px;
          margin-bottom: 20px;
        }
        @media screen and (min-width: 1200px) {
          width: 843px;
          margin-bottom: 16px;
          line-height: 1.2;
        }
      }

      .section-text {
        @extend %sectionText;
        margin-bottom: 16px;
        @media screen and (min-width: 768px) {
          margin-bottom: 24px;
        }
      }

      .estimate-link {
        display: flex;

        &:hover .estimate-link-est {
          background-color: $buttonBgColor;
          outline: 1px solid $buttonBgColor;
          color: #fffefa;
          box-shadow: 0 4px 16px #faa5073e;
        }
        &:active .estimate-link-est {
          background-color: $activeButtonBgColor;
          outline: 1px solid $activeButtonBgColor;
          color: #fffefa;
        }

        &:hover .estimate-link-arrow {
          background-color: $buttonBgColor;
          outline: 1px solid $buttonBgColor;
          box-shadow: 0 4px 16px #faa5073e;
        }
        &:hover .estimate-link-arrow .icon-arrow-black {
          stroke: #fffefa;
        }
        &:active .estimate-link-arrow {
          background-color: $activeButtonBgColor;
          outline: 1px solid $activeButtonBgColor;
        }

        .estimate-link-est {
          @include button(
            $width: 156px,
            $background-color: $buttonBgColor,
            $color: #fffefa
          );
        }

        .estimate-link-arrow {
          margin-left: 2px;
          @extend %buttonArrow;
          background-color: $buttonBgColor;

          .icon-arrow-black {
            stroke: #fffefa;
          }
        }
      }
    }

    .section-img-box {
      display: none;
      @media screen and (min-width: 768px) {
        // display: block;
        // width: 367px;
        // height: 420px;
        // background: #d9d9d9;
        // margin-bottom: 0;
      }
      @media screen and (min-width: 1200px) {
        display: block;
        background: #d9d9d9;
        width: 429px;
        height: 586px;
      }
    }
  }
  .examples {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      column-gap: 16px;
    }
    @media screen and (min-width: 1200px) {
      column-gap: 20px;
    }

    .example {
      @media screen and (min-width: 768px) {
        height: 235px;
      }
      @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 40px) / 3);
        height: 376px;
      }

      .example-wrap {
        .example-title {
          margin-top: 10px;
          font-size: 14px;
          line-height: 1.3;
          color: #7c7c7c;
        }
      }
    }
  }
}
