.contacts {
  padding-bottom: 66px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 96px;
  }

  .contact-box {
    @media screen and (min-width: 768px) {
      display: flex;
      column-gap: 20px;
      height: 642px;
    }
    @media screen and (min-width: 1200px) {
      height: 678px;
    }

    .contact-img {
      display: none;
      @media screen and (min-width: 768px) {
        display: block;
        width: 367px;
        height: 642px;
      }
      @media screen and (min-width: 1200px) {
        width: 565px;
        height: 678px;
      }
    }

    .contact-content {
      @media screen and (min-width: 768px) {
        width: 367px;
      }
      @media screen and (min-width: 1200px) {
        width: 747px;
      }

      .section-name {
        @extend %sectionName;
        margin-bottom: 24px;
        @media screen and (min-width: 768px) {
          font-size: 16px;
          margin-bottom: 25px;
        }
      }
      .section-title {
        width: 305px;
        margin-bottom: 16px;

        @extend %sectionTitle;
        @media screen and (min-width: 768px) {
          width: 247px;
          font-size: 38px;
          margin-bottom: 0;
        }
        @media screen and (min-width: 1200px) {
          width: 100%;
          font-size: 64px;
          line-height: 1.1;
        }
      }
      .section-text {
        @extend %sectionText;

        @media screen and (min-width: 768px) {
          display: none;
        }
        @media screen and (min-width: 1200px) {
          display: block;
          margin-bottom: 0;
          width: 486px;
        }
      }

      .form {
        display: flex;
        flex-direction: column;

        .input-wrap {
          position: relative;

          &:nth-child(4) {
            margin-bottom: 15px;
          }

          .form-input {
            height: 53px;
            padding: 16px;
            border: 1px solid $primaryTextColor;
            border-radius: 30px;
            width: 100%;
          }

          .error-message {
            position: absolute;
            bottom: -20px;
            left: 15px;
            color: red;
            font-size: 12px;
            display: block;
          }

          .form-area {
            height: 99px;
            width: 100%;
            padding: 16px;
            border: 1px solid $primaryTextColor;
            border-radius: 30px;
            resize: none;

            &:placeholder {
              font-size: 16px;
              line-height: 1.3;
              color: #818284;
            }
          }
        }

        .policy-wrap {
          display: flex;
          align-items: start;
          margin-bottom: 16px;

          .checkbox-label {
            font-size: 14px;
            width: 100%;
            line-height: 1.5;

            .policy-link {
              color: inherit;
              text-decoration: underline;
            }
          }
        }

        .form-button {
          border-radius: 30px;
          padding: 16px 24px;
          height: 54px;
          background: $buttonBgColor;

          font-size: 16px;
          line-height: 1.4;
          color: #fff;

          &:hover {
            background-color: $buttonBgColor;
            outline: 1px solid $buttonBgColor;
            color: #fffefa;
            box-shadow: 0 4px 16px #faa5073e;
          }
          &:active {
            background-color: $activeButtonBgColor;
            outline: 1px solid $activeButtonBgColor;
            color: #fffefa;
          }

          &:disabled {
            background-color: #faa5073e;
            border: none;
          }
        }
      }
    }
  }
}
