.faq {
  padding-bottom: 96px;
  padding-top: 96px;
  @media screen and (min-width: 768px) {
    padding-bottom: 64px;
    padding-top: 64px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 96px;
    padding-top: 96px;
  }

  .section-title {
    width: 305px;
    margin-bottom: 32px;

    @extend %sectionTitle;
    @media screen and (min-width: 768px) {
      width: 100%;
      font-size: 36px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 42px;
    }
  }

  .accordion-item + .accordion-item {
    margin-top: 16px;
  }
  .accordion-button {
    background-color: #f4ebdf;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;

    padding: 20px 37px 20px 20px;
  }

  .accordion-body {
    background-color: #f4ebdf;
  }
}
