.footer {
  padding: 36px 0;
  background-color: #f4ebdf;
  background-color: $primaryTextColor;

  @media screen and (min-width: 768px) {
    padding: 40px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 56px 0;
  }

  .footer-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 32px;
    margin-bottom: 50px;
    @media screen and (min-width: 768px) {
      // display: flex;
      row-gap: 36px;
      margin-bottom: 36px;
    }
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      margin-bottom: 64px;
      column-gap: 102px;
    }

    .logo {
      width: 50%;
      height: 50px;

      @media screen and (min-width: 768px) {
        // width: 50%;
      }
      @media screen and (min-width: 1200px) {
        width: 170px;
        height: 40px;
      }

      &-icon {
        width: 90%;
        height: 100%;
        @media screen and (min-width: 768px) {
          width: 60%;
        }
        @media screen and (min-width: 1200px) {
          width: 100%;
        }
      }
    }

    .footer-menu-wrap {
      display: none;
      order: 2;
      @media screen and (min-width: 768px) {
        display: block;
        order: 1;
      }
      @media screen and (min-width: 1200px) {
        order: 0;
      }
    }
    .footer-contacts-wrap {
      order: 1;
      width: 100%;
      @media screen and (min-width: 768px) {
        order: 2;
        width: 271px;
      }
      @media screen and (min-width: 1200px) {
        order: 0;
        width: 283px;
      }
    }
    .footer-socials-wrap {
      order: 3;
      @media screen and (min-width: 768px) {
        order: 3;
      }
      @media screen and (min-width: 1200px) {
        order: 0;
      }
    }
    .footer-scroll-wrap {
      width: 50%;
      @media screen and (min-width: 768px) {
        width: 50%;
      }
      @media screen and (min-width: 1200px) {
        order: 0;
        width: 100px;
      }

      .footer-scroll-link {
        display: flex;
        flex-direction: column;
        align-items: end;
        color: $lightTextColor;

        .footer-scroll-icon {
          stroke: $lightTextColor;
          fill: #fffefa;
        }
      }
    }

    .footer-socials-title,
    .footer-menu-title,
    .footer-contacts-title {
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 14px;
      color: #fffefa;
    }

    .footer-social-list {
      display: flex;
      column-gap: 16px;
    }
    .footer-menu-list,
    .footer-address-list {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
    }

    .footer-social-link,
    .footer-menu-link,
    .footer-address-link {
      color: #fffefa;
    }

    .footer-social-item,
    .footer-address-item,
    .footer-menu-item {
      position: relative;
    }

    .footer-address-item:hover::after,
    .footer-menu-item:hover::after {
      position: absolute;
      top: 100%;
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: $buttonBgColor;
    }

    .footer-address-link {
      display: flex;
      column-gap: 8px;
      align-items: center;
    }

    .footer-social-link {
      .black-arrow-icon {
        stroke: $lightTextColor;
        width: 12px;
        height: 12px;
        @media screen and (min-width: 768px) {
          width: 12px;
          height: 12px;
        }
      }
    }
  }

  .privacy-list {
    display: flex;
    justify-content: space-between;

    .privacy-link {
      color: $lightTextColor;
      text-decoration-skip-ink: none;
      font-weight: 500;
      font-size: 16px;
    }
  }
}
